<%- include("partials/header"); -%>

<body>
  <style>
    h1 {
      font-size: 24px;
      color: #333;
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
  <h1>Videos</h1>
  <table>
    <thead>
      <tr>
        <th>Video Name</th>
        <th>Views</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].VideoTitle %></td>
          <td><%= users[i].Views %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>
