<%- include("partials/header"); -%>
<div class="container mt-4" id="delete">
  <h1 style="text-align:center;background: linear-gradient(#e66465, #9198e5);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: bold;"> Video Succesfully deleted! </h1>
  <p style="text-align:center;">Delete more videos below?</p>
<div class="card">
<div class="card-body">
 <h2>Select the video that you would like to delete below:</h2>
 <form action="mark2" method="POST">
   <div class="form-group">
     <label for="channame">Channel Name:</label>
     <input type="text" class="form-control col-lg-9" id="channame" aria-describedby="emailHelp" placeholder="Enter Channel Name" name="channame">
     <label for="vidtitle">Video Title:</label>
     <input type="text" class="form-control col-lg-9" id="vidtitle" aria-describedby="emailHelp" placeholder="Enter Video Title" name="vidtitle">
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>
