<!DOCTYPE html>
<html lang="en">
 <head>
   <title>YouTube Analytics</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <nav class="navbar navbar-expand-lg navbar-light light-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#introid">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#search">Search</a>
        </li>
        <li class="nav-item">
<a class="nav-link" href="#update">Update</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#delete">Delete</a>
</li>
</ul>
</div>
</nav>
<div class="container mt-4">
<div class="card">
<div class="card-body">
 <h2>Insert your information below:</h2>
 <form action="mark" method="POST">
   <div class="form-group">
     <label for="chanid">Channel Name:</label>
     <input type="text" class="form-control col-lg-9" id="chanid" aria-describedby="emailHelp" placeholder="Enter Channel Name" name="chanid">
     <label for="emid">Email:</label>
     <input type="email" class="form-control col-lg-9" id="emid" aria-describedby="emailHelp" placeholder="Enter Email Id" name="emid">
     <label for="passid">Password</label>
     <input type="password" class="form-control col-lg-9" id="passid" aria-describedby="emailHelp" placeholder="Enter Password" name="passid">

   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>

<div class="container mt-4" id="delete">
<div class="card">
<div class="card-body">
 <h2>Select the user that you would like to delete below:</h2>
 <form action="mark2" method="POST">
   <div class="form-group">
     <label for="chanid2">Channel Name:</label>
     <input type="text" class="form-control col-lg-9" id="chanid2" aria-describedby="emailHelp" placeholder="Enter Channel Name" name="chanid2">
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>

<div class="container mt-4" id="search">
<div class="card">
<div class="card-body">
 <h2>Search Channel:</h2>
 <form action="search" method="POST">
   <div class="form-group">
     <label for="channelname">Channel Name:</label>
     <input type="text" class="form-control col-lg-9" id="chanid2" aria-describedby="emailHelp" placeholder="Enter Channel Name" name="channelname">

   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>

<div class="container mt-4">
<div class="card">
<div class="card-body">
 <h2>Advanced query 1:</h2>
 <h5>This query selects the top videos per category which have all more than 1,000,000 in views</h5>
 <form action="aq1" method="POST">
   <div class="form-group">
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>


<div class="container mt-4">
<div class="card">
<div class="card-body">
 <h2>Advanced query 2:</h2>
 <h5>This query joins the Channel and Video tables based on the ChannelId column, groups the result by ChannelTitle and calculates the count of videos and the total views for each channel, and then orders the result by the number of videos in descending order.</h5>
 <form action="aq2" method="POST">
   <div class="form-group">
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>


<div class="container mt-4" id="update">
    <div class="card">
    <div class="card-body">
     <h2>Change your username:</h2>
     <form action="update" method="POST">
       <div class="form-group">
         <label for="currChanName">Current username:</label>
         <input type="text" class="form-control col-lg-9" id="curChanid" aria-describedby="emailHelp" placeholder="Enter Current username" name="currChanName">
         <label for="newChanName">New username:</label>
         <input type="text" class="form-control col-lg-9" id="newChanid" aria-describedby="emailHelp" placeholder="Enter New username" name="newChanName">
       </div>
       <button type="submit" class="btn btn-primary">Update</button>
     </form>
    </div>
</div>
</div>

</body>
</html>
