<%- include("partials/header"); -%>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.centered-text {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #009688, #00BCD4, #2196F3, #3F51B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.centered-text1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #3F51B5, #673AB7, #9C27B0, #E91E63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
<div class="container">
  <p class="centered-text">YouAnalytics</p>
  <p class="centered-text1">By Team ASDF</p>
</div>

<%- include("partials/footer"); -%>
