<%- include("partials/header"); -%>
<div class="container mt-4" id="search">
<div class="card">
<div class="card-body">
 <h2>Search Channel:</h2>
 <form action="search" method="POST">
   <div class="form-group">
     <label for="channelname">Channel Name:</label>
     <input type="text" class="form-control col-lg-9" id="chanid2" aria-describedby="emailHelp" placeholder="Enter Channel Name" name="channelname">

   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
</div>
